@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "modal.scss";
@import "fonts.scss";

body {
    font-family: "HelveticaNeueCyr", sans-serif;
}

.icon {
    display: inline-block;

    &-arrow {
        background: url(../img/arrow.svg) no-repeat;
        width: 23px;
        height: 23px;
    }
}

.container {
    width: 100%;
    max-width: 1304px;
    margin: auto;
    padding: 0 40px;

    @media screen and (max-width: 600px) {
        padding: 0 20px;
    }
}

.pdf-link {
    color: $c-white;
    font-family: "Proxima-Nova", sans-serif;
    text-decoration: underline;
}

main {
    overflow: hidden;
}

sub,
sup {
    line-height: 0;
}

section {}

.logo {
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 0.6px;
    width: 230px;
    display: flex;
    align-items: center;

    img {
        margin-right: 5px;
    }
}

section.search {
    height: 720px;
    padding-top: 223px;
    padding-bottom: 50px;
    background: url(../img/architecture-buildings-cars.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @media screen and (max-width: 1280px) {
        height: 100vh;
        padding: 0;
        display: flex;
    }

    &:before {
        content: '';
        background: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;

        @media screen and (max-width: 1280px) {
            padding-bottom: 100px;
        }

    }

    .title {

        text-align: center;
        font-family: HelveticaNeueCyr;
        line-height: normal;
        font-size: 50px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-weight: 800;
        color: #FFFFFF;
        position: relative;

        @media screen and (max-width: 1280px) {
            font-size: 42px;
            line-height: 1.5em;
        }

        @media screen and (max-width: 980px) {
            font-size: 36px;
        }

        @media screen and (max-width: 480px) {
            font-size: 20px;
        }

        &:after {
            margin: 27px auto 0;
            display: block;
            content: "";
            height: 6px;
            background: #F9E107;
            border-radius: 2px;
            width: 470px;

            @media screen and (max-width: 980px) {
                width: 135px;
                height: 4px;
            }
        }
    }

    .tooltip {
        position: absolute;
        background: #fff;
        // padding: 20px;
        border-radius: 20px;
        transition: 0.3s;
        // overflow: hidden;
        opacity: 0;
        visibility: hidden;

        &-error {
            width: 170px;
            padding: 10px 10px 15px 10px;
            bottom: 63px;
            text-align: center;
            font-size: 12px;
            color: #B0B0B0;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #fff;
                position: absolute;
                bottom: -10px;
                left: 25px;
            }

            .img {
                margin: 0 auto 15px;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                border-radius: 100%;
                border: 1px solid #FF6465;
            }
        }

        &-types {
            width: 456px;
            padding: 13px;
            height: 93px;
            top: 63px;
            // text-align: center;
            font-size: 12px;
            color: #B0B0B0;

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
                position: absolute;
                top: -10px;
                left: 50px;
            }

            .tooltip__title {
                display: flex;
                align-items: center;

                img {
                    margin-right: 5px;
                }
            }

            .tooltip__list {
                display: flex;
                margin-top: 15px;
                justify-content: space-between;
            }

            .tooltip__example {
                // width: calc(25% /)
                flex: 1;
                margin: 0 5px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 4px;
                display: flex;
                justify-content: space-between;

                >div {
                    padding: 7px 5px;
                }

                >div+div {
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }

        &-number {
            width: 369px;
            // transform: translateY(-100%);
            bottom: 63px;
            left: -65px;
            display: flex;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;

                border-top: 10px solid #fff;
                position: absolute;
                bottom: -10px;
                left: 35%;
            }

            &>div {
                width: 50%;

                &:first-child {
                    padding: 21px 14px;
                    // font-size: 0;
                }

                &:last-child {
                    border-radius: 0 20px 20px 0;
                    overflow: hidden;
                }

                img {
                    display: block;
                }
            }

            .tooltip__example {
                font-size: 14px;
                text-decoration-line: underline;

                color: #8B8B8B;
                position: absolute;
                bottom: 26px;
                font-weight: 600;
            }

            .tooltip__descr {
                margin-top: 8px;
                line-height: 18px;
                font-size: 12px;

                color: #000000;
            }

            .tooltip__title {
                font-weight: 600;
                color: #000;
            }
        }
    }

    .search-block {
        width: 63%;
        margin: 63px auto 0;

        @media screen and (max-width: 1280px) {
            width: 590px;
            max-width: 590px;
        }

        @media screen and (max-width: 720px) {
            width: 100%;
        }

        &__tabs {
            display: flex;

            margin-left: 19px;

            // justify-content: space-between;
            &_item {
                margin-right: 40px;
                color: #fff;
                cursor: pointer;
                font-size: 18px;

                &.active {
                    position: relative;
                    color: #FFFF00;

                    &:after {
                        display: block;
                        content: "";
                        height: 4px;
                        margin-top: 2px;

                        background: #067EFF;
                        border-radius: 2px;
                        width: 90%;
                    }
                }
            }
        }

        &__form {
            display: flex;
            margin-top: 20px;
            position: relative;

            input {
                height: 50px;
                width: calc(100% - 200px - 200px);
                border-radius: 50px 0px 0px 50px;
                border: none;
                outline: none;

                padding: 0px 20px;
                font-size: 16px;
                font-family: "HelveticaNeueCyr", sans-serif;

                &:hover {
                    &+.tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }


                @media screen and (max-width: 720px) {
                    width: calc(100% - 40px - 100px);
                }

                @media screen and (max-width: 480px) {
                    width: calc(100% - 40px - 80px);
                }

                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #B0B0B0;
                }

                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #B0B0B0;
                }

                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #B0B0B0;
                }

                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #B0B0B0;
                }
            }

            &_btn {
                cursor: pointer;
                width: 200px;
                border-radius: 0px 50px 50px 0px;
                border: none;
                background: #F9E107;
                outline: none;
                font-size: 16px;
                font-family: "HelveticaNeueCyr", sans-serif;
                transition: 0.2s;

                &:hover {
                    background: darken(#F9E107, 5%);
                }

                @media screen and (max-width: 720px) {
                    font-size: 0;
                    width: 100px;
                    background: url(../img/search.svg) no-repeat #F9E107;
                    background-position: center;

                    &:hover {
                        background: url(../img/search.svg) no-repeat darken(#F9E107, 5%);
                        background-position: center;
                    }
                }

                @media screen and (max-width: 480px) {
                    width: 80px;
                }
            }

            &_number {
                width: 200px;
                align-items: center;
                background: #fff;
                color: #B0B0B0;
                display: flex;
                padding-left: 4px;
                // justify-content: center;
                font-size: 14px;
                position: relative;

                &:hover {
                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                @media screen and (max-width: 720px) {
                    font-size: 0;
                    width: 40px;
                }

                img {
                    margin-right: 10px;

                    @media screen and (max-width: 720px) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .go-bottom {
        display: none;

        @media screen and (max-width: 1280px) {
            display: block;
        }
    }

    .check-types {
        display: flex;
        justify-content: space-between;
        width: 73%;
        margin: 167px auto 0;

        @media screen and (max-width: 1280px) {
            display: none;
        }

        &__item {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 14px;

            img {
                margin-right: 8px;
            }
        }
    }
}

section.report {
    background: url(../img/image.svg);
    // background-size: cover;
    background-position: center;
    padding: 70px 0;

    .container {
        display: flex;
        justify-content: center;
    }

    .report-block {
        padding: 40px 10px 42px 10px;
        width: 369px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;



        @media screen and (max-width: 720px) {
            // padding: 30px 10px 40px 10px;
            width: 300px;
        }

        &__title {
            font-family: HelveticaNeueCyr;
            line-height: normal;
            font-size: 26px;
            margin: 20px 0;

            @media screen and (max-width: 720px) {
                font-size: 14px;
            }

            &:after {
                margin: 17px auto 55px;
                display: block;
                content: "";
                height: 6px;
                background: #F9E107;
                border-radius: 2px;
                width: 170px;

                @media screen and (max-width: 720px) {
                    width: 101px;
                    height: 4px;
                    margin: 15px auto 40px;
                }
            }
        }

        img {
            max-width: 128px;
            width: 100%;

            @media screen and (max-width: 720px) {
                max-width: 89px;
            }
        }

    }
}

section.feedback {
    padding: 73px 0 99px 0;
    background: #F6F6F6;

    @media screen and (max-width: 720px) {
        padding: 50px 0 60px;
    }

    .container {
        padding: 0 55px;

        @media screen and (max-width: 720px) {
            padding: 0;
        }
    }

    .title {

        text-align: center;
        font-family: HelveticaNeueCyr;
        line-height: normal;
        font-size: 26px;
        text-transform: uppercase;

        color: #000000;
        position: relative;

        &:after {
            margin: 26px auto 41px;
            display: block;
            content: "";
            height: 6px;
            background: #F9E107;
            border-radius: 2px;
            width: 170px;
        }
    }

    .feedback-item {
        // width: 369px;
        height: 223px;
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 18px 15px;

        @media screen and (max-width: 1280px) {
            height: 280px;
        }

        @media screen and (max-width: 720px) {
            height: 330px;
            margin: 10px;
        }

        &__wrapper {
            // display: flex;
            // flex-wrap: wrap;
            width: calc(100% - 90px);
            // align-items: flex-start;
        }

        &__avatar {

            img {
                border-radius: 100%;
            }
        }

        &__name {
            font-size: 16px;
            font-weight: 600;
            color: #000000;
            width: 100%;
            margin: 13px 0px 0 3px;
        }

        &__date {
            font-size: 12px;
            color: #000000;
            margin-left: 3px;
        }

        &__rating {
            width: 100%;
            margin-top: 10px;

            span {
                display: inline-block;
                background: url(../img/star.svg);
                width: 20px;
                height: 20px;
                margin-right: 3px;

                &.filled {
                    background: url(../img/starfull.svg);
                }
            }
        }

        &__descr {
            line-height: 18px;
            font-size: 14px;
            letter-spacing: 0.05em;
            font-style: italic;
            color: #000000;
        }
    }
}


.slick-slider {
    .slick-controls-wrapper {
        width: 296px;
        left: 0;
        right: 0;
        margin: 34px auto 0;
        position: relative;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }

    .slick-dots {
        width: 250px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: calc(100% + 38px);
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;


        li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 10px;
            padding: 0;
            cursor: pointer;

            &.slick-active {
                button {
                    background: #FFFF00;
                    width: 8px;
                    height: 8px;
                    padding: 3px;
                }
            }

            button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 10px;
                height: 10px;
                margin: auto;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: #DADADA;
                border-radius: 100%;
            }
        }
    }


    .slick-prev,
    .slick-next {
        border: none;
        top: 0;
        bottom: 0;
        cursor: pointer;
        outline: none;
        transition: 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .slick-prev.slick-arrow {
        width: 35px;
        height: 32px;
        position: absolute;
        left: 0;
        background: url(../img/left-arrow.svg) no-repeat;
    }

    .slick-next.slick-arrow {
        width: 35px;
        height: 32px;
        position: absolute;
        right: 0;
        background: url(../img/right-arrow.svg) no-repeat;
    }
}