<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Avto</title>
    <link rel="stylesheet" href="public/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <!-- Fix for iOS Safari zooming bug -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <a class="logo" href="#">
                    <img src="img/icon.svg" alt="">
                    <img src="img/logo.svg" alt="">
                </a>
                <nav>
                    <ul>
                        <li><a href="" class="active"><span>Проверить авто</span></a></li>
                        <li><a href=""><span>Пользовательское соглашение</span></a></li>
                        <li><a href=""><span>О проекте</span></a></li>
                    </ul>
                </nav>
                <div class="right unauthorized" v-if="!authorized">
                    <button class="btn btn-login" @click="authorized = true">ВОЙТИ</button>
                </div>
                <div class="right authorized" v-if="authorized">
                    <div class="user-name">
                        <img src="img/user.svg" alt="">Дима
                        <div class="user-name__close" @click="authorized = false"><img src="img/close.svg" alt=""></div>
                    </div>
                    <div class="user-dropdown">
                        <div class="user-dropdown__item">Дима</div>
                        <div class="user-dropdown__item">Мои отчеты</div>
                        <div class="user-dropdown__item">Профиль</div>
                        <div class="user-dropdown__item">Выйти</div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="search">
                <div class="container">
                    <h1 class="title">ПРОВЕРЬ ИСТОРИЮ АВТОМОБИЛЯ</h1>
                    <div class="search-block">
                        <div class="search-block__tabs">
                            <div class="search-block__tabs_item active">VIN</div>
                            <div class="search-block__tabs_item">Гос. номер</div>
                        </div>
                        <form class="search-block__form" @submit.prevent="searchSubmit($event)">
                            <div class="tooltip tooltip-error" :class="{active: invalidNumber}">
                                <div class="img">
                                    <img src="img/red-cross.svg" alt="">
                                </div>
                                Введен недопустимый символ
                            </div>

                            <input class="mask-input" type="text" v-model="searchValue" @input="searchValueChange()" placeholder="A 000 AA | 197" maxlength="10" name="number" required>

                            <div class="tooltip tooltip-types">
                               <div class="tooltip__title">
                                    <img src="img/exclamation-mark-inside-a-circle.svg" alt="">
                                   Вы можете проверить гостномер следующих типов:
                               </div>
                               <div class="tooltip__list">
                                   <div class="tooltip__example">
                                       <div>А 000 АА</div><div> 197</div>
                                   </div>
                                   <div class="tooltip__example">
                                       <div>А 000 АА</div><div> 197</div>
                                   </div>
                                   <div class="tooltip__example">
                                       <div>А 000 АА</div><div> 197</div>
                                   </div>
                                   <div class="tooltip__example">
                                       <div>А 000 АА</div><div> 197</div>
                                   </div>
                               </div>
                            </div>

                            <div class="search-block__form_number"><img src="img/question.svg" alt="">
                                Как узнать гос. номер
                                <div class="tooltip tooltip-number">
                                    <div>
                                        <div class="tooltip__title">Гос. номер</div>
                                        <div class="tooltip__descr">
                                            Индивидуальный регистрационный знак (номер) автомобиля. Состоит из буквенно-цифрового сочетания и регионального кода
                                        </div>
                                        <div class="tooltip__example"> Пример: А 000 АА 197 </div>
                                    </div>
                                    <div>
                                        <img src="img/passport.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <button class="search-block__form_btn">ПРОВЕРИТЬ АВТО</button>
                        </form>
                    </div>
     
                    <div class="check-types">
                        <div class="check-types__item"> <img src="img/truck-crash-car.svg" alt="">ДТП</div>
                        <div class="check-types__item"> <img src="img/car.svg" alt="">Реальный пробег</div>
                        <div class="check-types__item"> <img src="img/siren.svg" alt="">Нахождение в розыске</div>
                        <div class="check-types__item"> <img src="img/pledge.svg" alt="">Залоги и ограничения</div>
                        <div class="check-types__item"> <img src="img/frontal-taxi-cab.svg" alt="">Работа в такси</div>
                    </div>
                </div>
                <div class="go-bottom" @click="goBottom()">
                    <img src="img/arrow-point-to-right.svg" alt="">
                </div>
            </section>
            <section class="report">
                <div class="container">
                    <div class="report-block">
                        <img src="img/pdf.svg" alt="">
                        <div class="report-block__title">Пример отчета PDF</div>
                        <button class="btn btn-pdf">СКАЧАТЬ</button>
                    </div>
                </div>
            </section>
            <section class="feedback">
                <div class="container">
                    <h2 class="title">ОТЗЫВЫ ПОЛЬЗОВАТЕЛЕЙ</h2>
                 
                    <div class="slick-slider">
                        <div class="slick">
                            <div class="feedback-item">

                                <div class="feedback-item__avatar"><img src="img/photo1.png" alt=""></div>
                                <div class="feedback-item__wrapper">
                                    <div class="feedback-item__name">Sergo</div>
                                    <div class="feedback-item__rating">
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span ></span>
                                    </div>
                                    <div class="feedback-item__date">Отзыв из App Store 20 апреля 2018</div>
                                </div>
                                <div class="feedback-item__descr">“Все работает, спасибо Вам за замечательную программу, очень помогает в жизни, жду обещанные проверки по номеру авто”</div>
                            </div>
                            <div class="feedback-item">
                                <div class="feedback-item__avatar"><img src="img/photo2.png" alt=""></div>
                                <div class="feedback-item__wrapper">
                                    <div class="feedback-item__name">Alex</div>
                                    <div class="feedback-item__rating">
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                    </div>
                                    <div class="feedback-item__date">Отзыв в PlayMarket 27 марта 2018</div>
                                </div>
                                <div class="feedback-item__descr">“Отличное приложение, очень полезное и понятное. Разработчики общительные, с любой проблемой или не поняткой помогут) Вообщем приложению твердая пятерка, даже с плюсом!!)”</div>
                            </div>
                            <div class="feedback-item">
                                <div class="feedback-item__avatar"><img src="img/photo3.png" alt=""></div>
                                <div class="feedback-item__wrapper">
                                    <div class="feedback-item__name">Mark</div>
                                    <div class="feedback-item__rating">
                                           <span class="filled"></span>
                                           <span class="filled"></span>
                                           <span class="filled"></span>
                                           <span class="filled"></span>
                                           <span></span>
                                    </div>
                                    <div class="feedback-item__date">10 март 2018</div>
                                </div>
                                <div class="feedback-item__descr">“Ездил смотреть сегодня тиану, заказывал полный отчет по ней. Оказалось что машина не только была в ДТП, но и работа в такси. Я был очень удивлен)) Разработчикам спасибо!”</div>
                            </div>
                            <div class="feedback-item">
                                <div class="feedback-item__avatar"><img src="img/photo1.png" alt=""></div>
                                <div class="feedback-item__wrapper">
                                    <div class="feedback-item__name">Sergo</div>
                                    <div class="feedback-item__rating">
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span class="filled"></span>
                                        <span></span>
                                    </div>
                                    <div class="feedback-item__date">Отзыв из App Store 20 апреля 2018</div>
                                </div>
                                <div class="feedback-item__descr">“Все работает, спасибо Вам за замечательную программу, очень помогает в жизни, жду обещанные проверки по номеру авто”</div>
                            </div>
                            <div class="feedback-item">
                                <div class="feedback-item__avatar"><img src="img/photo2.png" alt=""></div>
                                <div class="feedback-item__wrapper">
                                    <div class="feedback-item__name">Alex</div>
                                    <div class="feedback-item__rating">
                                          <span class="filled"></span>
                                          <span class="filled"></span>
                                          <span class="filled"></span>
                                          <span class="filled"></span>
                                          <span></span>
                                    </div>
                                    <div class="feedback-item__date">Отзыв в PlayMarket 27 марта 2018</div>
                                </div>
                                <div class="feedback-item__descr">“Отличное приложение, очень полезное и понятное. Разработчики общительные, с любой проблемой или не поняткой помогут) Вообщем приложению твердая пятерка, даже с плюсом!!)”</div>
                            </div>
                        </div>
                        <div class="slick-controls-wrapper">
                            <button class="slick-prev slick-arrow"></button>
                            <button class="slick-next slick-arrow"></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div>
                    <a class="logo" href="#">
                        <img src="img/icon.svg" alt="">
                        <img src="img/logo.svg" alt="">
                    </a>
                    <div class="app">
                        <div class="appstore"><img src="img/app-store.png" alt=""></div>
                        <div class="playmarket"><img src="img/google-play.png" alt=""></div>
                    </div>
         
                    <div class="questions">Возникли вопросы?</div>
                    <div class="phone-number"><img src="img/phone-receiver.svg" alt="">8 800 500 00 00</div>
                    <div class="go-top" @click="goTop()"></div>
                </div>
                <div>
                    <div></div>
                    <div class="socials">
                        <div class="bott-icon_vk"><a href=""><img src="img/vk-social-logotype.svg" alt=""></a></div>
                        <div class="bott-icon_youtube"><a href=""><img src="img/youtube-symbol.svg" alt=""></a></div>
                        <div class="bott-icon_fb"><a href=""><img src="img/facebook-logo-button.svg" alt=""></a></div>
                        <div class="bott-icon_insta"><a href=""><img src="img/instagram-logo.svg" alt=""></a></div>
                    </div>
                    <button class="btn btn-footer">Свяжитесь с нами</button>
                </div>
                <div>
                    <div class="copyright">© Антиперекуп. Все права защищены.</div>
                    <div class="copyright">Запрещено копирование, переработка и публикация информационных материалов сайта без письменного согласия владельца.</div>
                    <div class="copyright-mobile">©2007 - 2018 Все права защищены </div>
                </div>
    
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.4/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="public/app.js"></script>
</body>

</html>